.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0); /*so that nav bar is on leftsidebar else navbar will be hidden*/
    box-sizing: border-box;
    font-size: 13px;
    
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 0px;

}

.side-nav-div{
    padding: 10px 0px;
}


/*to give style to PUBLIC div */
.side-nav-div div{
    padding-left: 10px;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
}

.side-nav-links:hover{
    color: black;
}


/*when current url matches with url given in to of navlink then it will become active so at that moment what will be style it is below*/
.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}


@media screen and (max-width: 700px) {
    .home-container-2 {
        width: 100%; /* Make home container 2 fill the entire width */
        float: none; /* Remove any float */
        /* text-align: center; Center its contents */
    }
}
